<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
      <label>username:
        <input type="text" formControlName="username" class="form-control">
        <div *ngIf="f.username.errors" class="invalid-feedback">
           <div *ngIf="f.username.errors.required">username is required</div>
           <div *ngIf="f.username.errors.minlength">username must be at least 6 characters</div>
       </div>
      </label>
      <br/>
      <label>firstName:
        <input type="text" formControlName="firstName" class="form-control">
        <div *ngIf="f.firstName.errors" class="invalid-feedback">
           <div *ngIf="f.firstName.errors.required">firstName is required</div>
           <div *ngIf="f.firstName.errors.minlength">firstName must be at least 6 characters</div>
       </div>
      </label>
      <br/>
      <label>lastName:
        <input type="text" formControlName="lastName" class="form-control">
        <div *ngIf="f.lastName.errors" class="invalid-feedback">
           <div *ngIf="f.lastName.errors.required">lastName is required</div>
           <div *ngIf="f.lastName.errors.minlength">lastName must be at least 6 characters</div>
       </div>
      </label>
      <br/>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">update</button>
      </div>
    </form>
  </div>
  <button (click)="goBack()">go back</button>
</div>
